<div class="modal-backdrop" (click)="close(false)">
  <div class="modal" (click)="$event.stopPropagation()">
    <h3 class="modal-title">
      {{ 'Schedule' }} Interview – {{ candidate.fullName }}
    </h3>

    <form class="modal-form" (ngSubmit)="saveInterview()">
      
      <div class="form-group">
        <label for="scheduledDateTime">Date &amp; Time</label>
        <input id="scheduledDateTime"
               type="datetime-local"
               [(ngModel)]="formData.scheduledDateTime"
               name="dt"
               required
               class="form-control" />
      </div>

      <div class="form-group">
        <label for="stage">Stage</label>
        <select id="stage"
                [(ngModel)]="formData.stageId"
                name="stage"
                class="form-control"
                required>
          <option *ngFor="let stage of stages" [value]="stage.stageId">
            {{ stage.stageName }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="interviewMode">Mode</label>
        <select id="interviewMode"
                [(ngModel)]="formData.interviewMode"
                name="mode"
                required
                class="form-control">
          <option value="Online">Online</option>
          <option value="Offline">Offline</option>
        </select>
      </div>

      <div class="form-group">
        <label for="interviewer">Interviewer</label>
        <select id="interviewer"
                [(ngModel)]="formData.interviewer"
                name="interviewer"
                required
                class="form-control">
          <option value="" disabled selected>Select interviewer</option>
          <option *ngFor="let user of interviewers" [value]="user.userId">
            {{ user.fullName }} ({{ user.email }})
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="meetingLink">Generate Meeting Link</label>
          <!-- Create Button -->
          <button
              *ngIf="(authState$ | async) && !(isLoading$ | async) && meetingLink == null"
              id="create-button"
              (click)="createMeetLink()"
              class="btn btn--primary btn--wide">
              Create Meet Link
          </button>
          <label for="meetingLink" *ngIf="meetingLink != null">{{ meetingLink }}</label>
          <!-- Re-authenticate Button if needed -->
          <button
              *ngIf="!(authState$ | async) && !(isLoading$ | async) && meetingLink == null"
              id="auth-button"
              (click)="signIn()"
              class="btn btn--primary btn--wide">
              Re-authenticate with Google
          </button>
      </div>

      <div class="modal-actions">
        <button type="submit" class="btn btn--primary btn--wide" *ngIf="meetingLink != null">
          {{ 'Schedule' }}
        </button>
        <button type="button" class="btn btn--outline btn--wide" (click)="close(false)">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
