<!-- Topbar -->
<div class="topbar">
  <div class="topbar-left">
    <div class="menu-icon" (click)="toggleSidebar()">☰</div>
    <div class="topbar-title">Candidate Interview Tracking System (CITS)</div>
  </div>

  <div class="topbar-nav">
    <!-- Topbar Navigation Links -->
    <a routerLink="/dashboard-stats" routerLinkActive="active-link">Dashboard</a>
    <a *ngIf="roleId === 2 || roleId === 1" routerLink="/candidate-list" routerLinkActive="active-link">Candidates</a>
    <a *ngIf="roleId === 3 || roleId === 1" routerLink="/interviewer-calendar" routerLinkActive="active-link">Interviews</a>
    <!-- <a *ngIf="roleId === 2 || roleId === 1" routerLink="/jobs" routerLinkActive="active-link">Jobs</a> -->
  </div>

  <div class="topbar-actions">
    <div class="user-dropdown">
      <span class="user-name">{{ fullName }} ⏷</span>
      <div class="dropdown-menu">
        <a (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Layout Container -->
<div class="layout-container">
  <!-- Sidebar -->
  <div class="sidebar" #sidebar [class.sidebar-collapsed]="!isSidebarVisible">
    <nav class="nav-links">
      <!-- Sidebar Navigation -->
      <a routerLink="/dashboard-stats" routerLinkActive="active-link">📊 Dashboard</a>
      <a *ngIf="roleId === 2 || roleId === 1" routerLink="/candidate-list" routerLinkActive="active-link">👤 Candidates</a>
      <a *ngIf="roleId === 3 || roleId === 1" routerLink="/interviewer-calendar" routerLinkActive="active-link">📅 Interviews</a>
      <a *ngIf="roleId === 2 || roleId === 1" routerLink="/jobs" routerLinkActive="active-link">💼 Jobs</a>

    </nav>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
